.imperio {
    background-color: red;
}
.rebeldes {
    background-color: blue;
}
#darth_vader {
    font-size: 20px;
}
#luke {
    font-style: italic;
}
.soldados {
    border: 1px;
}
.apoyo {
    text-align: center;
}
.naves {
    text-transform: uppercase;
}
.droides {
    align-items: center;
}