.imperio {
    background-color: red;
}
.rebeldes {
    background-color: blue;
}
#darth_vader {
    font-size: 20px;
}
#luke {
    font-style: italic;
}
.soldados {
   border-style: dotted;
   border-width: 10px;
   
}
.soldados1{
    letter-spacing: 10px;
}
.apoyo {
    text-align: center;
}
.naves {
    text-transform: uppercase;
}
.droides {
    align-items: center;
}